@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: DodgerBlue; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, Blue , DodgerBlue);
  background: -moz-linear-gradient(right, Blue , DodgerBlue );
  background: -o-linear-gradient(right, Blue , DodgerBlue );
  background: linear-gradient(to left, Blue , DodgerBlue );
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    transition: 0.3s;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 5px; /* 5px rounded corners */
    padding: 20px 20px 25px 25px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
