<div class="login-page">

  <div *ngIf="loginSwitch === true">
    <div class="card">
      <h1 *ngIf="errorMessage">🤦</h1><p *ngIf="errorMessage" class="error" style="color: red; font-weight: 700;">{{ errorMessage }}</p>

      <form class="register-form" (ngSubmit)="doSignUp()">
        <input type="email" placeholder="Email Address" [(ngModel)]="signUpInfo.username" name="username"/>
        <input type="password" placeholder="password" [(ngModel)]="signUpInfo.password" name="password"/>
        <button>create</button>
      </form>

      <p class="message">Already registered? <a href="/app/login#" (click)="loginSwitch = false">Sign In</a></p>
    </div>
  </div>

  <div *ngIf="loginSwitch === false">
    <div class="card">
      <h1 *ngIf="loginErrorMessage">🤦</h1><p *ngIf="loginErrorMessage" class="error" style="color: red; font-weight: 700;">{{ loginErrorMessage }}</p>

      <form class="login-form" (ngSubmit)="doLogin()">
        <input type="email" placeholder="Email Address" [(ngModel)]="loginInfo.username" name="username" required focus/>
        <input type="password" placeholder="Password" [(ngModel)]="loginInfo.password" name="password" required/>
        <button>login</button>
      </form>

      <p class="message">Not registered? <a href="app/login#" (click)="loginSwitch = true">Create an account</a></p>
    </div>
  </div>
