<div class="login-page">

  <p *ngIf="errorMessage" class="error" style="color: red;">
   {{ errorMessage }}
 </p>

  <div class="form">
    <form class="register-form" (ngSubmit)="doSignUp()">
      <input type="email" placeholder="Email Address" [(ngModel)]="signUpInfo.username" name="username"/>
      <input type="password" placeholder="password" [(ngModel)]="signUpInfo.password" name="passwrod"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>

    <p *ngIf="loginErrorMessage" class="error" style="color: red; font-weight: 700;">
  {{ loginErrorMessage }}
</p>

    <form class="login-form" (ngSubmit)="doLogin()">
      <input type="email" placeholder="Email Address" [(ngModel)]="loginInfo.username" name="username" required focus/>
      <input type="password" placeholder="Password" [(ngModel)]="loginInfo.password" name="password" required/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
