<app-nav-bar></app-nav-bar>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="http://i0.kym-cdn.com/entries/icons/medium/000/009/754/PhotogenicGuy.jpg" alt="..." class="profilePic center-block img-rounded" style="">
      <div class="text-center">
        <h3>Aaron Molina</h3>
        <h5>Owner at Pool Cleaning Co.</h5>
      </div>

    </div>
  </div>

<!-- ABOUT
First Name:Mariah
Last Name:Caraiban
User Name:Mariah
Email:mariah@Vendroid.com
City:Los Angeles
Country:United States
Birthday:Jan 22, 1984
Interests:Basketball, Web, Design, etc.
Website:Vendroid.venmond.com
Phone:+1-234-5678 -->


    <div class="col-md-8">
      <div class="card">
        <div style="padding-bottom: 10px;">
        <h1 style="display: inline;">About</h1>
        <a style="float: right;" class="btn btn-default" href="#" role="button">Edit</a>
      </div>
        <table class="table">
          <thead>
            <tr>Contact info</tr>
          </thead>
          <tbody>
            <tr>
            <th class="text-muted">First Name:</th>
            <th>Aaron</th>
            <th class="text-muted">Last Name:</th>
            <th>Molina</th>
          </tr>
          <tr>
            <th class="text-muted">Email:</th>
            <th>aaron@gmail.com</th>
            <th class="text-muted">Password:</th>
            <th>*****<a href="#" style="float: right;">Change</a></th>
          </tr>

          <tr>
            <th class="text-muted">Company Name:</th>
            <th>Pool Cleaning Co.</th>
            <th class="text-muted">Phone:</th>
            <th>305-555-5555</th>
          </tr> <br>

          <thead>
            <tr>Address</tr>
          </thead>
          <tr>
            <th class="text-muted">Street</th>
            <th>123 SW 67th st</th>
            <th class="text-muted">City</th>
            <th>Miami</th>
          </tr>

          <tr>
            <th class="text-muted">Provice</th>
            <th>FL</th>
            <th class="text-muted">Zip</th>
            <th>33133</th>
          </tr>

        </tbody>
        </table>
      </div>
    </div>
</div>
