<app-nav-bar></app-nav-bar>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h1>Settings</h1>

      <table class="table table-striped">
        <tr>
          <th>col</th>
          <th>col</th>
          <th>col</th>
        </tr>

        <tr>
          <th>col</th>
          <th>col</th>
          <th>col</th>
        </tr>

        <tr>
          <th>col</th>
          <th>col</th>
          <th>col</th>
        </tr>

        <tr>row</tr>
        <tr>row</tr>
        <tr>row</tr>
      </table>
    </div>
  </div>
</div>
