<app-nav-bar></app-nav-bar>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="{{ currentUser.avatarUrl }}" alt="User profile photo" class="profilePic center-block img-rounded" style="">
      <div class="text-center">
        <h3>{{ currentUser.firstName }} {{ currentUser.lastName }}</h3>
        <h5>Owner at {{ currentUser.companyName }}</h5>
      </div>

    </div>
  </div>

<!-- ABOUT
First Name:Mariah
Last Name:Caraiban
User Name:Mariah
Email:mariah@Vendroid.com
City:Los Angeles
Country:United States
Birthday:Jan 22, 1984
Interests:Basketball, Web, Design, etc.
Website:Vendroid.venmond.com
Phone:+1-234-5678 -->


    <div class="col-md-8">
      <div class="card">
        <div style="padding-bottom: 10px;">
        <h1 style="display: inline;">About</h1>
        <a style="float: right;" class="btn btn-default" href="/app/post-signup" role="button">Edit</a>
      </div>
        <table class="table">
          <thead>
            <tr>Contact info</tr>
          </thead>
          <tbody>
            <tr>
            <th class="text-muted">First Name:</th>
            <th>{{ currentUser.firstName }}</th>
            <th class="text-muted">Last Name:</th>
            <th>{{ currentUser.lastName }}</th>
          </tr>
          <tr>
            <th class="text-muted">Email:</th>
            <th>{{ currentUser.username }}</th>
            <th class="text-muted">Password:</th>
            <th>●●●●●●●●<a href="#" style="float: right;">Change</a></th>
          </tr>

          <tr>
            <th class="text-muted">Company Name:</th>
            <th>{{ currentUser.companyName }}</th>
            <th class="text-muted">Phone:</th>
            <th>{{ currentUser.primaryPhone }}</th>
          </tr> <br>

          <thead>
            <tr>Address</tr>
          </thead>
          <tr>
            <th class="text-muted">Street:</th>
            <th>{{ currentUser.street1 }}</th>
            <th class="text-muted">City:</th>
            <th>{{ currentUser.city }}</th>
          </tr>

          <tr>
            <th class="text-muted">Provice:</th>
            <th>{{ currentUser.province }}</th>
            <th class="text-muted">Zip:</th>
            <th>{{ currentUser.zip }}</th>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
</div>
