<app-nav-bar></app-nav-bar>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div>
      <h1 class="page-header"><span style="margin-right: 10px;" class="glyphicon glyphicon-user"></span>{{ client.clientFirstName }} {{ client.clientLastName }}
        <small style="display: inline-block; float: right;" class="text-right"><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ client.clientStreet1 }} {{ client.clientCity }} {{ client.clientProvice }}">{{ client.clientStreet1 }}<span *ngIf="client.clientStreet2"> </span>{{ client.clientStreet2 }}<br>{{ client.clientCity }}<span *ngIf="client.clientProvince">, </span>{{ client.clientProvince }} {{ client.clientZip }}</a></small><span class="glyphicon glyphicon-map-marker" style="float: right; margin-right: 10px;"></span></h1>
      </div>
        <div>
        <div class="dropdown" style="float: right;">
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            More
            <span class="caret"></span>
          </button>
          <ul style="position: absolute; left: -90px;"class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="app/client/details/{{client._id}}#">New Pool Service</a></li>
            <li><a href="app/client/details/{{client._id}}#">New Product</a></li>
            <li><a href="app/client/details/{{client._id}}#">Log Pool Vital</a></li>
            <li><a href="app/client/details/{{client._id}}#">Log Note</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="app/client/details/{{client._id}}#">New Invoice</a></li>
            <li><a href="app/client/details/{{client._id}}#">New Payment</a></li>
          </ul>
        </div>
        <div>
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="app/client/details/{{client._id}}#">About</a></li>
            <li role="presentation"><a href="app/client/details/{{client._id}}#">Activities</a></li>
            <li role="presentation"><a href="app/client/details/{{client._id}}#">Pool Vitals</a></li>
            <li role="presentation"><a href="app/client/details/{{client._id}}#">Products</a></li>
            <li role="presentation"><a href="app/client/details/{{client._id}}#">Invoices</a></li>
            <li role="presentation"><a href="app/client/details/{{client._id}}#">Payments</a></li>
          </ul>
        </div>
      </div>

            <div class="tab-info-div">
              <div style="padding-bottom: 15px;">
              <h1 style="display: inline;">About</h1>
              <button class="btn btn-default" style="float: right;">Edit</button>
              <div>
              <table class="table">
                <thead>
                  <tr>User info</tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="text-muted">First Name:</th>
                    <th>{{ client.clientFirstName }}</th>
                    <th class="text-muted">Last Name:</th>
                    <th>{{ client.clientLastName }}</th>
                  </tr>
                  <tr>
                    <th class="text-muted">Phone:</th>
                    <th>{{ client.primaryPhone }}</th>
                    <th class="text-muted">Email:</th>
                    <th>{{ client.clientUsername }}</th>
                  </tr>

                  <thead>
                    <tr>Client's Pool Address</tr>
                  </thead>
                  <tr>
                    <th class="text-muted">Street:</th>
                    <th>{{ client.clientStreet1 }}
                      {{ client.clientStreet2 }}</th>
                      <th class="text-muted">City:</th>
                      <th>{{ client.clientCity }}</th>
                    </tr>

                    <tr>
                      <th class="text-muted">Provice:</th>
                      <th>{{ client.clientProvince }}</th>
                      <th class="text-muted">Zip:</th>
                      <th>{{ client.clientZip }}</th>
                    </tr>
                  </tbody>
                </table>
              </div>


            </div>
          </div>
        </div>
