<app-nav-bar></app-nav-bar>

<div class="card">
  <h1 class="page-header">Client Page</h1>

  <div *ngIf="clientListError" class="alert alert-danger" style="margin: 0px;" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
  {{ clientListError }}

</div>
    <!-- <ul>
      <li *ngFor="let client of clientArray">
        <h3> {{ client.clientFirstName }} </h3>
      </li>
    </ul> -->

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clientArray">
          <th class="col-md-2"><a href="/app/client/details/{{client._id}}">{{ client.clientFirstName }} {{ client.clientLastName }}</a></th>
          <th class="col-md-2"><p *ngIf="client.clientStreet1">{{ client.clientStreet1 }}</p>
            <p *ngIf="client.clientStreet2">{{ client.clientStreet2 }}</p>
            <span *ngIf="client.clientCity">{{ client.clientCity }}</span><span *ngIf="client.clientCity && client.clientZip">, </span> <span *ngIf="client.clientProvince">{{ client.clientProvince }}</span><span *ngIf="client.clientZip"> {{ client.clientZip }}</span></th>
            <th class="col-md-2">{{ client.clientPrimaryPhone }}</th>
            <th class="col-md-2">{{ client.clientUsername }}</th>
            <th class="col-md-2"><a href="app/client" class="btn btn-danger btn-xs" (click)="toDelClient(client._id)">DELETE</a></th>
          </tr>
        </tbody>
        </table>
  </div> <!-- closes scrollableList -->


</div> <!-- closes card -->
