.pillLink, .navbar-inverse .navbar-nav>li>a {
  color: white;
}

.nav-pills>li>a:hover {
  color: black;
}

.nav-pills>li.active>a{
  background-color: DodgerBlue;
  color: white;
}

button.btn.btn-link {
  color: red;
}


@media only screen and (max-width: 767px) {
    .nav p {
        color: white;
    }
}
